body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#profile-btn svg,
#profile-btn svg:focus,
#profile-btn svg:active,
#profile:focus {
  outline: none !important;
  box-shadow: none !important;
}

button svg,
button svg:focus,
svg[tabindex="-1"]:focus {
  outline: none !important;
  box-shadow: none !important;
}