/*
  Styles for the credits footer and credits page.
*/

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Credits link footer style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

.FooterContainer {
  display: flex;
  position: fixed;
  bottom: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: calc(100% - 220px);
  z-index: 0;
  background-color: var(--header-color);
}

.FooterContainer button,
.FooterContainer a {
  border: 0px;
  background: 0px;
  font-size: 1.125rem;
  font-weight: bold;
  margin: 2px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.FooterContainer button:active,
.FooterContainer a:active {
  transform: translateY(0px);
  opacity: 1;
}

.FooterContainer button:hover,
.FooterContainer a:hover {
  opacity: 0.85;
  transform: translateY(-1px);
  cursor: pointer;
  text-decoration: underline solid 3px;
}

@media only screen and (max-width: 799px) {
  .FooterContainer {
    display: none;
  }
}

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Credits style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

#credits-title {
  color: var(--primary-color);
  text-align: left;
  margin-left: clamp(20px, 5vw, 50px);
  font-size: 1.5rem;
  font-weight: 600;
}

#credit-members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 20px clamp(20px, 5vw, 50px);
  padding: 0;
  list-style: none;
}

.lfg-contributor {
  flex: 0 1 clamp(180px, 45vw, 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--header-color);
  padding: 20px 15px;
  border-radius: 10px;
  text-align: center;

  .project-contributor-profile {
    margin-right: 0;

    .team-member-name {
      overflow-wrap: break-word;
    }
  }
}

.no-members {
  margin-left: clamp(20px, 5vw, 50px);
}

/* switches from grid to flexbox for mobile display */
@media only screen and (max-width: 799px) {
  #credit-members-container {
    gap: 20px;
  }

  .lfg-contributor {
    flex-grow: 1;
  }

  .lfg-contributor {
    flex: 0 1 clamp(100px, 30vw, 120px);
    padding: 15px;

    .project-contributor-profile {
      width: 45px;
      height: 45px;
    }

    .team-member-name {
      font-size: .825rem !important;

      overflow-wrap: break-word !important;
    }

    .team-member-role {
      font-size: .625rem !important;
    }
  }

  .about-container {
    padding: 0 !important;

    #credits {
      padding: 0 !important;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 500px) {
  .lfg-contributor {
    padding: 10px 5px;
  }
}

@media only screen and (max-width: 400px) {
  .about-container {
    width: 100% !important;
  }

  #credit-members-container {
    gap: 10px;
  }
}