/* IMAGE UPLOADER */
#img-view {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center;
    background-size: cover;
    height: 100%;
}

#project-image-uploader #img-view {
    width: 323px;
    height: 182px;
    gap: 10px;

    svg {
        margin: 6px;
    }

    * {
        margin: 0px;
    }
}

#uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#browse-link {
    color: var(--primary-color);
}

.drop-area {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.camera-button {
    width: 30px;
    height: 27px;
    position: absolute;
    bottom: 9px;
    right: 9px;
}