#profile-editor-links {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  overflow-y: auto;
}

.link-input {
  display: flex;
  column-gap: 0.5rem;
}

#add-link-container {
  display: flex;
  flex-direction: row;
}

/* Also used by project editor/creator */
#profile-editor-add-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.4ch;
  padding: 10px;
}
#profile-editor-add-link > * {
  margin: 0;
  color: var(--neutral-gray);
}
#profile-editor-add-link > p:first-child {
  font-size: 2.0ch;
}
#profile-editor-add-link > p:last-child {
  font-style: italic;
}

.editor-input-item {
}

/* Should put something here, but no designs to go off of.
** No other instances to reference either.
*/
#profile-editor-add-link:hover {
  /* background-color: var(--bg-color); */
}

.link-input-wrapper {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.close-btn {
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 25px;
  height: 27px;
  aspect-ratio: 1;
  position: absolute;
  right: 12px;
  top: 0;
  transform: translateX(-10%) translateY(90%);
}

.close-btn>.fa-minus {
  color: var(--invert-text);
}