/*
  Styles for the login and signup pages.

  1. Overall page styles
  2. Signup process modal
/*

/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Login and Signup page style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/
/* #region login and signup page */

.background-cover {
  position: fixed;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background: var(--modal-gradient);
  /* background: var(--primary-color); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-signup-container {
  width: 95%;
  max-width: 880px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: min(60vh, 525px);
  background-color: var(--bg-color);
  box-shadow: 0px 0px 10px 0px var(--shadow-color);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.login-form,
.signup-form {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
}

/* .signup-form,
  .directory {
    flex: 1;
    height: 485px;
    text-align: center;
     border: 1px solid black; 
    background-color: var(--bg-color);
    padding: 40px 20px;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  } */

.directory {
  /* border: 1px solid black; */
  background: var(--sidebar-gradient);
  color: var(--main-text);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.directory img {
  width: 360px;
  height: auto;
  /* height: 200px;
  border-radius: 100%; */
  margin: auto;
}

/* .directory p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 100px;
} */

.login-form h2,
.signup-form h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  margin: 20px auto;
}

/* .login-form p {
  color: var(--primary-color);
  margin-bottom: 0;
} */

.signup-input,
.login-input,
.signup-name-input {
  width: 100%;
  height: 40px;
  padding: 5px 20px;
  border: none;
  background-color: var(--header-color);
  color: var(--main-text);
  border-radius: 10px;
  text-align: left;
  outline: none;
  font-size: 0.9375rem;
  box-sizing: border-box;
}

.signup-input::placeholder,
.login-input::placeholder,
.signup-name-input::placeholder {
  color: var(--main-text);
  opacity: 0.75;
  font-weight: 300;
}

#main-loginsignup-btn {
  width: 110px;
  height: 40px;
  /* margin: 20px auto 0px auto; */
  padding: 5px 16px;
  font-size: 1.25rem;
  border: none;
  border-radius: 40px;
  background-color: var(--primary-color);
  color: var(--invert-text);
  font-weight: 700;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.directory button {
  width: 120px;
  height: 40px;
  margin: 20px auto 20px auto;
  padding: 5px 16px;
  font-size: 1.25rem;
  border: 1px solid #e3e3e3;
  border: none;
  border-radius: 50px;
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-weight: 700;
}

#main-loginsignup-btn:hover,
.directory button:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.signup-form-inputs,
.login-form-inputs {
  /* border: 1px solid black; */
  width: 100%;
  max-width: 320px;
  max-height: 340px;
  height: auto;
  margin: 20px auto;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.signup-form p {
  text-align: center;
}

.signup-form-inputs .row {
  display: flex;
  gap: 15px;
  width: 100%;
}

.signup-name-input {
  flex: 1;
  min-width: 0;
}

#password-wrapper {
  position: relative;
  width: 100%;
  margin: 0px;
}

#password-wrapper input {
  padding-right: 45px;
  width: 100%;
}

#show-password {
  position: absolute;
  top: 55%;
  right: 0.5rem;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#eye-icon {
  width: 20px;
  height: 20px;
}

/* gets rid of microsoft edge's built-in password reveal control */
::-ms-reveal {
  display: none;
}

#forgot-password {
  font-size: 0.875rem;
  color: var(--primary-color);
  margin: 0px;
  box-shadow: none;
  width: 160px;
  text-decoration: none;
  background-color: var(--bg-color);
  border: none;
  font-weight: 300;
  padding: 10px;
}

#forgot-password:hover {
  text-decoration: underline;
}

#forgot-password,
.mobile-signup,
.mobile-login {
  align-self: center;
}

.spacer {
  border-bottom: 1px solid var(--primary-color);
  /* height: 30px; */
}

.mobile-signup,
.mobile-login {
  display: none;
}

#signup-btn-mobile,
#login-btn-mobile {
  display: none;
}

.error {
  text-align: center;
  padding: 5px
}

@media screen and (max-width: 1020px) {
  .background-cover {
    /* background-image: url("../../../public/images/mobile-directory-background.png"); */
    background-color: var(--bg-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }


  .login-form,
  .signup-form {
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
  }

  .directory {
    visibility: collapse;
    display: none;
    width: 0;
  }

  .mobile-signup,
  .mobile-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--main-text);
    font-weight: 300;
  }

  #signup-btn-mobile,
  #login-btn-mobile {
    display: block;
    font-weight: 500;
    color: var(--primary-color);
    margin: 0 0 0 8px;
  }

  #signup-btn-mobile:hover,
  #login-btn-mobile:hover {
    cursor: pointer;
  }
}

@media screen and (max-width:550px) {
  .signup-form h2 {
    margin: 10px auto;
  }
}

@media screen and (max-width:500px) and (max-height:900px) {

  .signup-form {
    padding: 0 25px;
  }
}


/* #endregion*/

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Signup process modal style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/
/* #region signup process modal */

.signupProcess-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url("../../../public/images/mobile-directory-background.png"); */
  background-color: var(--sidebar-gradient);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupProcess-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-gradient);
  background-repeat: no-repeat;
  z-index: 10;
  margin: 0 auto;
}

#create-profile-redirect-modal,
#complete-profile-modal,
#get-started-modal,
#tos-modal {
  justify-content: center;
}

.CreateProfileRedirect,
.ChooseSkills,
.ChooseInterests,
.ChooseProficiencies,
.CompleteProfile,
.TermsOfService,
.GetStarted {
  background: var(--bg-color);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  align-self: center;
  height: fit-content;
  max-height: 85vh;
  width: min(calc(90vw - 20px), 1055px);
  max-width: 95vw;
  border-radius: 4px;
  padding: 0px;
  box-shadow: 0px 0px 10px 0px var(--border-color);
  z-index: 1;
  overflow-y: scroll;

  #create-profile-redirect-text {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    white-space: normal;
    overflow-wrap: break-word;
  }

  #profile-editor-tags {
    height: fit-content;

    #project-editor-tag-search-tabs {
      height: 100%;
    }
  }
}

.ChooseSkills #profile-editor-tags {
  width: 90%;
  overflow-y: scroll;
  display: flex;

  #project-editor-tag-wrapper,
  #project-editor-selected-tags-container {

    scrollbar-width: thin;
  }

  #project-editor-tag-wrapper {
    min-height: 36px;
  }

  /* The Choose Skills dropdown container for MOBILE */
  /* Make sure to only edit CSS here to maintain consistency for non-mobile devices */
  .dropdown-container, #choose-skills-select-dropdown {
    width: 100%;
    text-align: left;
    order: 2;

    .dropdown, #project-editor-selected-tags {
      width: calc(100% - 10px);
    }
    
    /* The dropdown button */
    #choose-skills-select-dropdown {
      border-radius: 10px;
      background-color: var(--bg-color);
      border: 1px solid var(--border-color);
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      align-items: center;
    }
    height: 45px; /* matches dropdown containers on CompleteProfile.tsx */
  }
}

#signupProcess-title {
  font-size: 1.75rem;
  color: var(--primary-color);
  width: 90%;
  font-weight: 600;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#signupProcess-title-highlight {
  color: var(--primary-color);
  font-weight: 600;
  font-style: italic;
}

#signupProcess-subTitle {
  color: var(--main-text);
  font-size: 1rem;
  margin: 0 10px 20px 10px;
  font-weight: 400;
}

#signupProcess-skills-subTitle {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 400;
}

/* buttons */
#signupProcess-btns {
  margin-top: 2.5%;
  width: 90%;
  display: flex;
  justify-content: space-between;

  input {
    accent-color: var(--primary-color);
    margin-right: 10px;
  }

  #back {
    position: relative;
    top: 0;
    left: 0;
  }

  #next {
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
    color: var(--primary-color)
  }
}

#signup-nextBtn,
#signup-backBtn,
#accept-tos-btn {
  border: none;
  border-radius: 14px;
  height: 90px;
  width: 100px;
  font-size: 1.125rem;
  font-weight: 800;
  background: none;
  color: var(--primary-color);
}

#signup-nextBtn:disabled {
  border: none;
  border-radius: 14px;
  height: 90px;
  width: 100px;
  font-size: 1.125rem;
  font-weight: 600;
  background: none;

  .color-fill>use {
    fill: var(--neutral-gray);
    opacity: 0.5;
  }

  cursor: not-allowed;
}

#accept-tos-btn {
  width: fit-content;
}

/* The absolute top-left back button arrow */
#back {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#main-loginsignup-btn,
.directory button {
  transition: transform 0.2s ease;
}


#signup-nextBtn:hover,
#signup-backBtn:hover,
#accept-tos-btn:hover,
#back:hover,
#main-loginsignup-btn:hover,
.directory button:hover {
  transform: translateY(-2px);
}


#signup-nextBtn:active,
#signup-backBtn:active,
#accept-tos-btn:active,
#back:active,
#main-loginsignup-btn:active,
.directory button:active {
  transform: translateY(0);
}

#signup-nextBtn:disabled {
  border: none;
  border-radius: 14px;
  height: 90px;
  width: 100px;
  font-size: 1.125rem;
  font-weight: 600;
  background: none;
  color: var(--neutral-gray);
  cursor: not-allowed;
}

#signup-nextBtn:disabled:hover {
  transform: translateY(0);
}

/* ========================================== */

#skill-select,
#interest-select,
#proficiency-select,
#getStarted-select {
  height: 515px;
  width: 90%;
  gap: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  margin: 20px;
  background-color: var(--header-color);
  border: 10px solid var(--header-color);
  border-radius: 5px;
}

.edit-interest-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
  padding: 0 20px;

  h4 {
    margin: 10px;
  }

  input {
    width: 340px;
    height: 30px;
    padding: 5px 20px;
    font-size: 0.9375rem;
    border: 2px solid var(--lightGray);
    border-radius: 50px;
    background-color: var(--primary-color);
    color: black;
    font-weight: 400;
    align-self: center;
  }
}

#complete-profile-add-image {
  grid-area: image;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: min(50vw, 250px);
  height: min(50vw, 250px);
  aspect-ratio: 1 / 1;

  #profile-image-label{
    color: var(--primary-color);
    font-size: 1.15rem;
    font-weight: 600;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  #profile-image-uploader{
    max-width: 85%;
    max-height: 85%;
  }
}

#profile-pic {
  width: 100%;
  height: auto;
  border: 3px solid var(--primary-color);
  border-radius: 10px;

  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

/* upload picture or use avatar buttons */
.profile-pic-option {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  border-radius: 4px;
  transition: 0.2s;
  gap: 10px;
  width: 100%;

  button,
  label {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--invert-text);
    font-weight: 700;
    text-align: center;
    box-shadow: 0px 0px 10px 0px var(--shadow-color);
  }

  button,
  input {
    height: 100%;
  }

  button:hover,
  label:hover {
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
  }
}

.signup-fullname {
  margin: 0 20px;
}

.signup-fullname h2 {
  font-size: 1.5rem;
  margin: 0;
  text-align: left;
}

.signup-fullname p {
  margin: 0;
  text-align: left;
}

#signup-profile-skill {
  font-size: 0.875rem;
  margin: 0 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 80px;
  margin: 4px 25px;
  flex-wrap: wrap;

  div {
    margin: 4px;
    padding: 4px 8px;
    border-radius: 10px;
    font-weight: 500;
  }
}

#skill-select button,
#interest-select button,
#proficiency-select button {
  width: auto;
  height: 8%;
  margin: 10px;
  padding: 0px 20px;
  font-size: 1rem;
  border: 2px solid var(--tag-grey-unselected-border);
  border-radius: 40px;
  background-color: var(--tag-grey-unselected);
  color: var(--tag-text-unselected);
  font-weight: 400;
  box-shadow: none;
}

#skill-select>.Audio {
  border-color: var(--tag-periwinkle-unselected-border);
  background-color: var(--tag-periwinkle-unselected);
  color: var(--tag-text-unselected-periwinkle);
}

#skill-select>.Developer {
  border-color: var(--tag-yellow-unselected-border);
  background-color: var(--tag-yellow-unselected);
  color: var(--tag-text-unselected-yellow);
}

#skill-select>.Designer {
  border-color: var(--tag-red-unselected-border);
  background-color: var(--tag-red-unselected);
  color: var(--tag-text-unselected-red);
}

#skill-select>.Soft {
  border-color: var(--tag-purple-unselected-border);
  background-color: var(--tag-purple-unselected);
  color: var(--tag-text-unselected-purple);
}

#skill-select>.Engineer {
  border-color: var(--tag-cyan-unselected-border);
  background-color: var(--tag-cyan-unselected);
  color: var(--tag-text-unselected-cyan);
}


#skill-select button.active,
#interest-select button.active,
#proficiency-select button.active {
  border-color: var(--tag-grey-selected);
  background-color: var(--tag-grey-selected);
  color: var(--tag-text-selected);
}

#skill-select>.Audio.active {
  border-color: var(--tag-periwinkle-selected);
  background-color: var(--tag-periwinkle-selected);
  color: var(--tag-text-selected);
}

#skill-select>.Developer.active {
  border-color: var(--tag-yellow-selected);
  background-color: var(--tag-yellow-selected);
  color: var(--tag-text-selected);
}

#skill-select>.Designer.active {
  border-color: var(--tag-red-selected);
  background-color: var(--tag-red-selected);
  color: var(--tag-text-selected);
}

#skill-select>.Soft.active {
  border-color: var(--tag-purple-selected);
  background-color: var(--tag-purple-selected);
  color: var(--tag-text-selected);
}

#skill-select>.Engineer.active {
  border-color: var(--tag-cyan-selected);
  background-color: var(--tag-cyan-selected);
  color: var(--tag-text-selected);
}

#display-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

#display-skills button.design {
  border: 2px solid var(--blue);
  background-color: var(--primary-color);
  color: black;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 1rem;
}

/* .name-username-pronouns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 20px;
  gap: 10px;
  width: 230px;
  height: 150px;
} */

#completeProfile-input-container {
  display: flex;
  flex-direction: column;
  gap: 13px;
  /* height: 100%; */
  width: 95%;
  margin: 10px 0 15px 0;

  div {
    width: 100%;
  }

  #img-view {
    width: fit-content;

    height: 100%;
    max-width: 100%;
  }
}

#completeProfile-input-section-1 {
  display: grid;
  grid-template-areas:
    'image row1'
    'image row2'
    'image row3';
  grid-template-columns: 25% auto;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}

#complete-profile-row-1,
#complete-profile-row-2,
#complete-profile-row-3 {
  display: grid;
  gap: 10px;
}

#complete-profile-row-1 {
  grid-area: row1;
  grid-template-columns: 1.25fr 2fr;
}

#complete-profile-row-2 {
  grid-area: row2;
  grid-template-columns: 1.25fr 2fr;
}

#complete-profile-row-3 {
  grid-area: row3;
  grid-template-columns: 1.25fr 2fr;
}

#pronouns-input,
#phoneNumber-input,
#jobTitle-input,
#location-input,
#funFact-input {
  font-weight: 400;
  height: 50px;

  input {
    margin-top: 0px;
    background-color: var(--header-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
  }

  .input-combo-label {
    padding-bottom: 4px;
  }
}

#jobTitle-input {
  .select-container div {
    margin-top: 0px;
    background-color: var(--header-color);

    max-height: 570%;
  }

  .tooltip-text {
    visibility: hidden;
    width: 250px;
    background-color: var(--bg-color);
    color: var(--main-text);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -40px;
    left: 0;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
}

#ritStatus-input {
  height: 50px;
  display: flex;
  flex-direction: column;

  .select-container div {
    margin-top: 0px;
    background-color: var(--header-color);

    max-height: 710%;
  }

  .select {
    height: 50px;
  }
}

#completeProfile-input-section-2 {
  display: flex;
  gap: 20px;

  #completeProfile-personal-quote {
    width: 50%;
  }
}

.CompleteProfile .select-container div {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);

  .value {
    background-color: none;
    box-shadow: none;
  }
}

#major-input {
  height: 50px;
  display: flex;
  flex-direction: column;

  .select-container div {
    margin-top: 0px;
    background-color: var(--header-color);

    max-height: 710%;
  }

  .select {
    height: 50px;
  }
}

.dropdown-label {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 4px;
}

#bio-input,
#headline-input {
  resize: none;
  font-size: 1rem;
  height: 100%;

  div textarea {
    margin-top: 0px;
    background-color: var(--header-color);
    outline: none;
  }

  .label-info {
    padding-bottom: 6px;
  }
}

@media only screen and (max-width:550px) {
  .dropdown-label {
    font-size: 1.1rem;
  }
}

/* === Terms of Service === */

#terms-of-service-text {
  display: flex;
  flex-direction: column;
  padding: 26px 31px;
  gap: 17px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
  border-radius: 10px;
  width: 75%;
  min-width: 150px;
  max-height: 548px;
  overflow-y: scroll;

  h2 {
    text-align: center;
  }

  p {
    text-align: left;
  }
}

#tos-checkbox {
  border-radius: 14px;
  margin: 0 5px;
  height: 1.125rem;
  width: 1.125rem;
  /*border: 2px solid var(--primary-color);*/
  /* does not work */
}

#tos-accept-label {
  font-size: 1.125rem;
  font-weight: 800;
  color: var(--primary-color);
}

#accept-tos-section {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

@media only screen and (max-width:550px) {
  #terms-of-service-text {
    padding: 20px 25px;
    gap: 10px;

    p,
    ul {
      margin-top: 0;
    }

    ul {
      padding-left: 20px;
    }
  }
}

/* ======================== */

#new-project-btn,
#join-project-btn {
  width: 240px;
  height: 200px;
  padding: 5px 10px;
  font-size: 1.5rem;
  border-radius: 12px;
  background-color: var(--primary-color);
  color: var(--invert-text);
  font-weight: 600;
  box-shadow: 0px 0px 10px 0px var(--shadow-color);
  display: flex;
  flex-direction: column;
  color: var(--invert-text);
  justify-content: center;
  border: none;
  align-items: center;

  /* for dark mode */
  img {
    filter: invert(1);
  }
}

/* for light mode */
[data-theme='light'] {

  #new-project-btn,
  #join-project-btn {
    img {
      filter: invert(0);
    }
  }

  #new-project-btn:hover,
  #join-project-btn:hover {
    img {
      filter: invert(1);
    }
  }
}

#new-project-btn:hover,
#join-project-btn:hover {
  background-color: var(--border-color);
  color: var(--main-text);

  /* for dark mode */
  img {
    filter: invert(0);
  }
}

#back {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.ritEmailText {
  color: var(--primary-color);
  /* color: #F76902; */
  font-weight: 750;
}

#completeProfile-input-container .select-options {
  overflow-y: scroll;
  max-height: 500%;
  height: auto;
  scrollbar-width: thick;
  scrollbar-color: var(--header-color) rgba(0, 0, 0, 0);
}

/* Mobile css to individual signup pages */
@media screen and (max-width: 1000px) {

  .ChooseSkills,
  .CompleteProfile,
  .GetStarted,
  .TermsOfService {
    height: 100%;
    width: 98vw;
    padding: 0;
    margin: 0;
  }

  .CompleteProfile {
    #completeProfile-input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 95%;
      overflow-y: scroll;
      padding-left: 5px;

      .required-asterisk {
        width: fit-content;
      }

      #completeProfile-input-section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;

        #complete-profile-row-1,
        #complete-profile-row-2,
        #complete-profile-row-3 {
          display: flex;
          flex-direction: column;
          row-gap: 40px;
        }
      }

      #completeProfile-input-section-2 {
        padding-top: 25px;
        flex-direction: column;

        #completeProfile-personal-quote {
          width: 100%;
        }
      }
    }

    #ritStatus-input,
    #major-input,
    #jobTitle-input {
      height: 45px;

      .select-container {
        height: 100%;
        min-height: 50px;

        .select {
          height: 45px;
        }
      }

      .select-container div {
        margin-top: 0px;

        max-height: 400%;
      }
    }

    /* Profile picture editor */
    #completeProfile-input-container #complete-profile-add-image {
      width: auto;
    }
  }

  .GetStarted,
  .ChooseSkills #profile-editor-tags {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /* prevents x scrollbar */

    #project-editor-tag-search {
      height: auto;
      max-height: 80%;
      overflow-y: scroll;
      max-width: auto;
      gap: 10px;
      padding: 15px;
    }
  }

  @media only screen and (max-width:550px) {

    #ritStatus-input,
    #major-input,
    #jobTitle-input {
      height: 30px;

      .select-container {
        min-height: 40px !important;

        .select {
          height: 40px !important;
          font-size: .875rem;
        }
      }
    }
  }

  #getStarted-select {
    gap: 2%;
    width: 90%;
    margin: 0;
  }

  .getStarted-btn-imgs {
    margin-top: 20px;
  }

  #new-project-btn,
  #join-project-btn {
    width: 90%;
    max-width: 240px;
    height: 45%;
    margin: 0;
  }

  .ChooseSkills {
    padding: 0 !important;

    #project-editor-selected-tags {
      width: 100%;
      overflow-y: scroll;
      flex-shrink: 1;

      #project-editor-selected-tags-container {
        height: 135px;
      }
    }
  }

  /* === TOS === */
  .TermsOfService #signupProcess-btns {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .TermsOfService #signup-backBtn {
    justify-self: center;
    align-self: center;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .TermsOfService #signup-nextBtn {
    justify-self: center;
    align-self: center;
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .TermsOfService #accept-tos-section {
    justify-self: center;
    align-self: center;
    grid-column: 1/4;
    grid-row: 1/2;
  }

  #tos-accept-label {
    font-size: 1rem;
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {

  .ChooseSkills {
    #profile-editor-tags {
      /* display: flex;
      flex-direction: column;
      gap: 20px; */

      #project-editor-selected-tags {
        overflow-y: scroll;
        width: auto;
        flex-grow: 1;
        padding: 15px;
        padding-right: 8px;
      }

      #project-editor-tag-search {
        height: 80%;
        overflow-y: scroll;
        max-width: auto;
        gap: 10px;
        padding: 15px;
        padding-right: 8px;
      }
    }

    #signupProcess-btns {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 550px) {
  body {
    padding: 0px;
  }

  #signupProcess-title {
    font-size: 1.5rem;
  }

  #signupProcess-subTitle {
    font-size: .875rem;
  }

  .project-editor-section-header {
    font-size: 1.1rem !important;
  }

  .project-editor-extra-info {
    font-size: .725rem !important;
  }
}

@media screen and (max-width: 400px) {
  body {
    padding: 0px;
  }


}

/* #endregion */