/*
  Styles for the login and signup pages.

  1. Overall page styles
  2. Signup process modal
/*

/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Login and Signup page style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/
/* #region login and signup page */

.background-cover {
  position: fixed;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background: var(--modal-gradient);
  /* background: var(--primary-color); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-signup-container {
  width: 95%;
  max-width: 880px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: min(60vh, 525px);
  background-color: var(--bg-color);
  box-shadow: 0px 0px 10px 0px var(--shadow-color);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.login-form,
.signup-form {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
}

/* .signup-form,
  .directory {
    flex: 1;
    height: 485px;
    text-align: center;
     border: 1px solid black; 
    background-color: var(--bg-color);
    padding: 40px 20px;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  } */

.directory {
  /* border: 1px solid black; */
  background: var(--sidebar-gradient);
  color: var(--main-text);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.directory img {
  width: 360px;
  height: auto;
  /* height: 200px;
  border-radius: 100%; */
  margin: auto;
}

/* .directory p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 100px;
} */

.login-form h2,
.signup-form h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  margin: 20px auto;
}

/* .login-form p {
  color: var(--primary-color);
  margin-bottom: 0;
} */

.signup-input,
.login-input,
.signup-name-input {
  width: 100%;
  height: 40px;
  padding: 5px 20px;
  border: none;
  background-color: var(--header-color);
  color: var(--main-text);
  border-radius: 10px;
  text-align: left;
  outline: none;
  font-size: 0.9375rem;
  box-sizing: border-box;
}

.signup-input::placeholder,
.login-input::placeholder,
.signup-name-input::placeholder {
  color: var(--main-text);
  opacity: 0.75;
  font-weight: 300;
}

#main-loginsignup-btn {
  width: 110px;
  height: 40px;
  /* margin: 20px auto 0px auto; */
  padding: 5px 16px;
  font-size: 1.25rem;
  border: none;
  border-radius: 40px;
  background-color: var(--primary-color);
  color: var(--invert-text);
  font-weight: 700;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.directory button {
  width: 120px;
  height: 40px;
  margin: 20px auto 20px auto;
  padding: 5px 16px;
  font-size: 1.25rem;
  border: 1px solid #e3e3e3;
  border: none;
  border-radius: 50px;
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-weight: 700;
}

#main-loginsignup-btn:hover,
.directory button:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.signup-form-inputs,
.login-form-inputs {
  /* border: 1px solid black; */
  width: 100%;
  max-width: 320px;
  max-height: 340px;
  height: auto;
  margin: 20px auto;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.signup-form p {
  text-align: center;
}

.signup-form-inputs .row {
  display: flex;
  gap: 15px;
  width: 100%;
}

.signup-name-input {
  flex: 1;
  min-width: 0;
}

#password-wrapper {
  position: relative;
  width: 100%;
  margin: 0px;
}

#password-wrapper input {
  padding-right: 45px;
  width: 100%;
}

#show-password {
  position: absolute;
  top: 55%;
  right: 0.5rem;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#eye-icon {
  width: 20px;
  height: 20px;
}

/* gets rid of microsoft edge's built-in password reveal control */
::-ms-reveal {
  display: none;
}

#forgot-password {
  font-size: 0.875rem;
  color: var(--primary-color);
  margin: 0px;
  box-shadow: none;
  width: 160px;
  text-decoration: none;
  background-color: var(--bg-color);
  border: none;
  font-weight: 300;
  padding: 10px;
}

#forgot-password:hover {
  text-decoration: underline;
}

#forgot-password,
.mobile-signup,
.mobile-login {
  align-self: center;
}

.spacer {
  border-bottom: 1px solid var(--primary-color);
  /* height: 30px; */
}

.mobile-signup,
.mobile-login {
  display: none;
}

#signup-btn-mobile,
#login-btn-mobile {
  display: none;
}

.error {
  text-align: center;
  padding: 5px
}

@media screen and (max-width: 1020px) {
  .background-cover {
    /* background-image: url("../../../public/images/mobile-directory-background.png"); */
    background-color: var(--bg-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }


  .login-form,
  .signup-form {
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
  }

  .directory {
    visibility: collapse;
    display: none;
    width: 0;
  }

  .mobile-signup,
  .mobile-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--main-text);
    font-weight: 300;
  }

  #signup-btn-mobile,
  #login-btn-mobile {
    display: block;
    font-weight: 500;
    color: var(--primary-color);
    margin: 0 0 0 8px;
  }

  #signup-btn-mobile:hover,
  #login-btn-mobile:hover {
    cursor: pointer;
  }
}

/* #endregion*/

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Signup process modal style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/
/* #region signup process modal */

.signupProcess-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url("../../../public/images/mobile-directory-background.png"); */
  background-color: var(--sidebar-gradient);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupProcess-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-gradient);
  background-repeat: no-repeat;
  z-index: 10;
  margin: 0 auto;
}

#create-profile-redirect-modal,
#complete-profile-modal,
#get-started-modal,
#tos-modal {
  justify-content: center;
}

.CreateProfileRedirect,
.ChooseSkills,
.ChooseInterests,
.ChooseProficiencies,
.CompleteProfile,
.TermsOfService,
.GetStarted {
  background: var(--bg-color);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  max-height: 80vh;
  width: min(calc(90vw - 20px), 880px);
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px var(--border-color);
  z-index: 1;
  overflow-y: scroll;

  #create-profile-redirect-text {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    white-space: normal;
    overflow-wrap: break-word;
  }

  #profile-editor-tags {
    height: fit-content;
  }
}

.ChooseSkills #profile-editor-tags
{
  width: 90%;
  overflow-y: scroll;
}

#signupProcess-title {
  font-size: 1.75rem;
  color: var(--primary-color);
  width: 90%;
  font-weight: 600;
  text-align: center;
}

#signupProcess-subTitle {
  color: var(--primary-color);
  font-size: 0.9375rem;
  margin: 0 10px 20px 10px;
  font-weight: 400;
}

#signupProcess-skills-subTitle {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 400;
}

/* buttons */
#signupProcess-btns {
  margin-top: 2.5%;
  width: 90%;
  display: flex;
  justify-content: space-between;

  #back {
    position: relative;
    top: 0;
    left: 0;
  }

  #next {
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
    color: var(--primary-color)
  }
}

#signup-nextBtn:disabled {
  border: none;
  border-radius: 14px;
  height: 90px;
  width: 100px;
  font-size: 1.125rem;
  font-weight: 600;
  background: none;
  color: var(--neutral-gray);
  cursor: not-allowed;
}

#signup-nextBtn:disabled:hover {
  transform: scale(1);
}

#signup-nextBtn, 
#signup-backBtn,
#accept-tos-btn {
  border: none;
  border-radius: 14px;
  height: 90px;
  width: 100px;
  font-size: 1.125rem;
  font-weight: 800;
  background: none;
  color: var(--primary-color);
}

#accept-tos-btn
{
  width: fit-content;
}

#signup-nextBtn:hover, 
#signup-backBtn:hover,
#accept-tos-btn {
  transform: scale(1.1);
  transition: 0.2s;
}

#skill-select,
#interest-select,
#proficiency-select,
#getStarted-select {
  height: 515px;
  width: 90%;
  gap: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  margin: 20px;
  background-color: var(--header-color);
  border: 10px solid var(--header-color);
  border-radius: 5px;
}

.edit-interest-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
  padding: 0 20px;

  h4 {
    margin: 10px;
  }

  input {
    width: 340px;
    height: 30px;
    padding: 5px 20px;
    font-size: 0.9375rem;
    border: 2px solid var(--lightGray);
    border-radius: 50px;
    background-color: var(--primary-color);
    color: black;
    font-weight: 400;
    align-self: center;
  }
}

#profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-area: profileImage;

  #profile-editor-add-image {
    width: 100%;
    height: 100%;
  }
}

#profile-pic {
  width: 100%;
  height: auto;
  border: 3px solid var(--primary-color);
  border-radius: 10px;

  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

/* upload picture or use avatar buttons */
.profile-pic-option {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  border-radius: 4px;
  transition: 0.2s;
  gap: 10px;
  width: 100%;

  button,
  label {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--invert-text);
    font-weight: 700;
    text-align: center;
    box-shadow: 0px 0px 10px 0px var(--shadow-color);
  }
  button,
  input
  {
    height: 100%;
  }

  button:hover,
  label:hover {
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
  }
}

.signup-fullname {
  margin: 0 20px;
}

.signup-fullname h2 {
  font-size: 1.5rem;
  margin: 0;
  text-align: left;
}

.signup-fullname p {
  margin: 0;
  text-align: left;
}

#signup-profile-skill {
  font-size: 0.875rem;
  margin: 0 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 80px;
  margin: 4px 25px;
  flex-wrap: wrap;

  div {
    margin: 4px;
    padding: 4px 8px;
    border-radius: 10px;
    font-weight: 500;
  }
}

#skill-select button,
#interest-select button,
#proficiency-select button {
  width: auto;
  height: 8%;
  margin: 10px;
  padding: 0px 20px;
  font-size: 1rem;
  border: 2px solid var(--tag-grey-unselected-border);
  border-radius: 40px;
  background-color: var(--tag-grey-unselected);
  color: var(--tag-text-unselected);
  font-weight: 400;
  box-shadow: none;
}

#skill-select>.Audio {
  border-color: var(--tag-periwinkle-unselected-border);
  background-color: var(--tag-periwinkle-unselected);
  color: var(--tag-text-unselected-periwinkle);
}

#skill-select>.Developer {
  border-color: var(--tag-yellow-unselected-border);
  background-color: var(--tag-yellow-unselected);
  color: var(--tag-text-unselected-yellow);
}

#skill-select>.Designer {
  border-color: var(--tag-red-unselected-border);
  background-color: var(--tag-red-unselected);
  color: var(--tag-text-unselected-red);
}

#skill-select>.Soft {
  border-color: var(--tag-purple-unselected-border);
  background-color: var(--tag-purple-unselected);
  color: var(--tag-text-unselected-purple);
}


#skill-select button.active,
#interest-select button.active,
#proficiency-select button.active {
  border-color: var(--tag-grey-selected);
  background-color: var(--tag-grey-selected);
  color: var(--tag-text-selected);
}

#skill-select>.Audio.active {
  border-color: var(--tag-periwinkle-selected);
  background-color: var(--tag-periwinkle-selected);
  color: var(--tag-text-selected);
}

#skill-select>.Developer.active {
  border-color: var(--tag-yellow-selected);
  background-color: var(--tag-yellow-selected);
  color: var(--tag-text-selected);
}

#skill-select>.Designer.active {
  border-color: var(--tag-red-selected);
  background-color: var(--tag-red-selected);
  color: var(--tag-text-selected);
}

#skill-select>.Soft.active {
  border-color: var(--tag-purple-selected);
  background-color: var(--tag-purple-selected);
  color: var(--tag-text-selected);
}

#display-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

#display-skills button.design {
  border: 2px solid var(--blue);
  background-color: var(--primary-color);
  color: black;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 1rem;
}

/* .name-username-pronouns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 20px;
  gap: 10px;
  width: 230px;
  height: 150px;
} */

#completeProfile-input-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    'profileImage pronouns academicYear headline'
    'profileImage phoneNumber major bio'
    'profileImage jobTitle jobTitle bio'
    'profileImage location location bio'
    'profileImage funFact funFact bio';
  row-gap: 20px;
  column-gap: 20px;

  margin: 10px 0 20px 0;
}

#pronouns-input,
#headline-input,
#phoneNumber-input,
#jobTitle-input,
#location-input,
#funFact-input {
  font-weight: 400;
  height: 50px;

  input {
    margin-top: 0px;
    background-color: var(--header-color);
  }
}

#pronouns-input {
  grid-area: pronouns;
}

#headline-input {
  grid-area: headline;
}

#phoneNumber-input {
  grid-area: phoneNumber;
}

#jobTitle-input {
  grid-area: jobTitle;

  .select-container div {
    margin-top: 0px;
    background-color: var(--header-color);

    max-height: 500%;
  }
}

#location-input {
  grid-area: location;
}

#funFact-input {
  grid-area: funFact;
}

#academicYear-input {
  grid-area: academicYear;
  height: 50px;

  .select-container,
  .select-button-input {
    height: 100%;
    min-height: fit-content;
    width: 100%;

    div {
      background-color: var(--header-color);

    }
  }
}

#major-input {
  grid-area: major;
  height: 50px;

  .select-container,
  .select-button-input {
    height: 100%;
    width: 100%;

    div {
      background-color: var(--header-color);
      overflow: hidden;
    }
  }
}

#bio-input {
  resize: none;
  font-size: 1rem;
  grid-area: bio;
  height: 100%;

  div textarea {
    margin-top: 0px;
    background-color: var(--header-color);
  }
}

/* === Terms of Service === */

#terms-of-service-text {
  display: flex;
  flex-direction: column;
  padding: 26px 31px;
  gap: 17px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
  border-radius: 10px;
  width: 75%;
  min-width: 150px;
  max-height: 548px;
  overflow-y: scroll;

  h2 {
    text-align: center;
  }
  p {
    text-align: left;
  }
}

#tos-checkbox
{
  border-radius: 14px;
  margin: 0 5px;
  height: 1.125rem;
  width: 1.125rem;
  /*border: 2px solid var(--primary-color);*/   /* does not work */
}

#tos-accept-label
{
  font-size: 1.125rem;
  font-weight: 800;
  color: var(--primary-color);
}

#accept-tos-section
{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
}


/* ======================== */

#new-project-btn,
#join-project-btn {
  width: 240px;
  height: 200px;
  padding: 5px 10px;
  font-size: 1.5rem;
  border-radius: 12px;
  background-color: var(--primary-color);
  color: var(--invert-text);
  font-weight: 600;
  box-shadow: 0px 0px 10px 0px var(--shadow-color);
  display: flex;
  flex-direction: column;
  color: var(--invert-text);
  justify-content: center;
  border: none;
  align-items: center;

  /* for dark mode */
  img {
    filter: invert(1);
  }
}

/* for light mode */
[data-theme='light'] {
  #new-project-btn,
  #join-project-btn {
    img {
      filter: invert(0);
    }
  }
  #new-project-btn:hover,
  #join-project-btn:hover {
    img {
      filter: invert(1);
    }
  }
}

#new-project-btn:hover,
#join-project-btn:hover {
  background-color: var(--border-color);
  color: var(--main-text);

  /* for dark mode */
  img {
    filter: invert(0);
  }
}

#back {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

/* Mobile css to individual signup pages */
@media screen and (max-width: 700px)
{
  .ChooseSkills, .CompleteProfile, .GetStarted
  {
    height: 80vh;
  }
  .CompleteProfile
  {
    #completeProfile-input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      overflow-y: scroll;
    }
    #completeProfile-input-container div {
      width: 100%;
    }
    #academicYear-input, #major-input
    {
      height: 50px;
      .select-container
      {
        height: 100%;
        min-height: 45px;
      }
    }
    /* Profile picture editor */
    #completeProfile-input-container #profile-details
    {
      width: 60%;
    }
  }
  .GetStarted, .ChooseSkills #profile-editor-tags
  {
    overflow-x: hidden;   /* prevents x scrollbar */
  }
  #getStarted-select
  {
    gap: 2%;
    width: 95%;
    margin: 0;
  }
  #new-project-btn, #join-project-btn
  {
    width: 90%;
    max-width: 240px;
    height: 45%;
    margin: 0;
  }
  .ChooseSkills #project-editor-selected-tags
  {
    width: 100%;
  }

  /* === TOS === */
  .TermsOfService #signupProcess-btns
  {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .TermsOfService #signup-backBtn
  {
    justify-self: center;
    align-self: center;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .TermsOfService #signup-nextBtn
  {
    justify-self: center;
    align-self: center;
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .TermsOfService #accept-tos-section
  {
    justify-self: center;
    align-self: center;
    grid-column: 1/4;
    grid-row: 1/2;
  }
  #tos-accept-label
  {
    font-size: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  body {
    padding: 0px;
  }
}

@media screen and (max-width: 400px) {
  body {
    padding: 0px;
  }

  #signupProcess-title {
    font-size: 1.5rem;
  }
}

/* #endregion */