/* Styles for the Not Found (404) page */

/*default color scheme*/
:root {
  --bg-color: #0e0e0e;
}

/*light mode color scheme*/
[data-theme='light'] {
  --bg-color: #ffffff;
  --primary-color: #271d66;
  --text-color: #271D66;
}

/*dark mode color scheme*/
[data-theme='dark'] {
  --bg-color: #0e0e0e;
  --primary-color: #fead81;
  --text-color: #FFCF8B;
}

 /*Additional edits to the .page container; centers elements on the page*/
.error-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;
}

#error-image {
  max-width: 100vh;
  width: 500px;
  width: auto;
  align-self: center;
}

.error-button-container button:hover {
  transition-duration: 0.25s;
  background-color: var(--text-color);
}

.error-button-container {
  display: flex;
  justify-content: center;
}

.error-button-container button {
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--invert-text);
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.error-button-container button:hover {
  transition-duration: 0.25s;
  background-color: var(--text-color);
  transform: translateY(-1px); 
  opacity: 0.95; 
}

.error-button-container button:active {
  transform: translateY(0px); 
  opacity: 1;
}

.errorFrog{max-width: 25vh; width: auto; align-self: center;}

.error-header{color: var(--text-color); font-size: 1.875rem;}
@media only screen and (max-width: 799px) {
  .error-button-container button>#compass{
    margin: 0% !important;
    padding: 0% !important;
    width: 30px !important;
    height: 30px !important;
  }
}
@media only screen and (max-width: 800px) {
  .error-box {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .error-header {
    width: 90%;
    align-self: center;
  }
}
