/* Styles for the profile editor */

@import 'aboutTab.css';
@import 'projectsTab.css';
@import 'linksTab.css';

textarea {
  resize: none;
}

/* ---------- Layout ---------- */
.project-editor-tab {
  white-space: nowrap;
}

.error-message {
  display: none;
}

.error-message p {
  padding-left: 32%;
  font-size: 20px;
  color: red;
}

.profile-edit-button {
  background-color: #271d66;
}

.editor-input-item {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 700px) {
  .editor-input-item button {
   right: 60px;
  }

  .link-input {
    display: flex;
    flex-direction: column;
  }
}

.editor-input-item input,
.editor-input-item select {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  color: var(--main-text);
  flex-grow: 1;
  font-size: 1.6ch;
  margin: 10px 0;
  outline: none;
  padding: 0.5rem;
}

.editor-input-item label {
  color: var(--primary-color);
  font-size: 2ch;
  font-weight: 700;
}

.editor-input-textarea {
  position: relative;
}

/* Skills Tabs */
#profile-editor-tags {
  display: grid;
  grid-template:
    'select search' auto 
    'select search' auto /
    1fr 2fr;
  gap: 25px;
  height: 100%;

  > #project-editor-selected-tags {
    max-height: 633px;

    > #project-editor-selected-tags-container {
      max-height: 514px;
    }
  }
}